body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    background-color: #3498db;
    color: #fff;
}

#tree, #biography, #documents, #blog, #history, #gallery {
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}
